:root {
  /* Colors */
  --primary-color: #7395ae;
  --secondary-color: #1a2c39;
  --accent-color: #7c6e63;
  --background-color: #feffff;
  --background-color-2: #dee3f2;
  /* Dimens */
  --side-nav-dimen: 360px;
}

* {
  font-family: 'Open Sans', sans-serif;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
h1, h3 {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  color: var(--secondary-color);
}
a {
  color: var(--secondary-color);
}

.hidden {
  display: none;
}
.accent-col {
  color: var(--accent-color);
}
.btn {
  background: var(--background-color);
}
.divider {
  height: 1px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: var(--secondary-color);
  opacity: 0.1;
}
.social {
  width: 36px;
  height: 36px;
}
.content-subtitle {
  font-size: 24px;
  font-weight: bold;
}
.content-list > li {
  padding: 6px;
}
.pics {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-box-shadow: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.pics:hover {
  width: 90%;
  height: 90%;
  border-radius: 24px;
}

#surname {
  font-size: 32px;
  color: var(--background-color-2);
}
#name {
  font-size: 48px;
  color: var(--secondary-color);
}
#menu-btn {
  top: 16px;
  -webkit-transition: all 0.2s ease-out;
  -moz-box-shadow: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: var(--primary-color);
  position: fixed;
  z-index: 2;
}
#menu-icon {
  color: var(--secondary-color);
}
#drawer-panel {
  position: absolute;
  height: 100%;
  width: var(--side-nav-dimen);
}
#back-panel {
  background: var(--primary-color);
  overflow: hidden;
}
#front-panel {
  background: var(--background-color);
  margin-left: var(--side-nav-dimen);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-out;
  -moz-box-shadow: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  overflow: auto;
  z-index: 1;
}
#drawer-items {
  margin-top: -24px;
}
#drawer-items > li {
  padding-top: 28px;
  padding-bottom: 28px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-color);
}
#drawer-footer {
  width: 100%;
  height: 72px;
  position: absolute;
  bottom: 0;
  opacity: 0.3;
}
#drawer-footer > div {
  text-align: center;
  opacity: 0.5;
}
#drawer-footer > div > a:hover {
  opacity: 0.7;
}

@media (max-width: 468px) {
  :root {
    /* Dimens */
    --side-nav-dimen: 240px;
  }
  #surname {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  #menu-btn {
    display: none;
  }
}
@media (max-height: 550px) {
  #drawer-items > li {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
